/*
RESET RULES
*/ 

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul, ol {
    list-style: none;
    padding: 0;
}

.conteiner {
    max-width: 1000px;
    margin: 0 auto;
}

.bg-grey {
    background-color: #f6f8f9;
}

.bg-white {
    background-color: white;
}

/*
HEADER
*/

.page-header {
    color: black;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 30px;
}

.logo {
    width: 80px;
    vertical-align: middle;
    padding: 10px 5px 10px 20px;
}

/*
MAIN
*/

.toboolist {
    max-width: 800px;
    padding-left: 40px;
    border-bottom: 2px solid #f6f8f9;
}

/*
navigation
*/

.toboolist__menu-button1 {
    border: 2px solid #47adf1; 
    background-color: #47adf1;
    color: white;
    font-size: 12px;
    padding: 6px 10px;
    text-align: center;
    border-radius: 6px;
    margin-top: 12px;
    margin-bottom: 8px;
}

.toboolist__menu-button2 {
    
    
    border: 2px solid #d4d8dc; 
    background-color: white;
    color: #d4d8dc;
    font-size: 12px;
    padding: 6px 10px;
    text-align: center;
    border-radius: 6px;
    margin-top: 12px;
    margin-bottom: 8px;
  }